body {
  background-color: #f0f0f0;
  /* let's use roboto */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212529;
  background-color: #f8f9fa;
  overflow: hidden;
}

.plot-container {
  width: 500px;
  height: 550px;
  background-color: #fff;
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  padding-top: 15px;

  box-shadow: -20px -20px 40px #ffffff70, 20px 20px 40px #5c5c5c36;
}

.plot-container .plot-remove-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.network-info{
	color: #3338;
	font-weight: 300;
}

.plot-container .plot-remove-button:after {
  color: #777;
  display: inline-block;
  font-size: 1.2em;
  content: "\00d7"; /* This will render the 'X' */
  font-weight: 300;
}
.plot-container .plot-remove-button:hover:after {
  color: #333;
}

.add-plot-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}
.add-plot-btn:hover {
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
    0 4px 6px 0 rgb(93 100 148 / 20%);
}
.add-plot-btn:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

.plot-ctrl-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px 20px;
}

.plot-select-box {
  width: 200px;
  font-size: 0.8em;
}

.plot-select-box select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  font-size: 0.8em;
}
.plot {
  width: 100%;
  position: relative;
  left: 0px;
  background-color: #eee;
}

/*--- slideraxis ---*/

.slideraxis {
  margin: 20px;
  width: 350px;
  height: 20px;
  padding: 10px;
  position: relative;
}

.range-slider {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 20px;
  top: 10px;
  right: 0px;
}

.range-slider .slider-thumb {
  cursor: pointer;
  height: 20px;
  width: 7px;
  position: absolute;
}

.slider-thumb.range-thumb {
  background: #2222;
  height: 10px;
  top: 5px;
}

.range-slider .slider-track {
  height: 0.5px;
  background: #555a;
  position: absolute;
  top: 10px;
  width: 100%;
}

.slider-track:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 1px;
  height: 10px;
  background: #555a;
}

.slider-track:after {
  content: "";
  position: absolute;
  top: -5px;
  right: -1px;
  width: 1px;
  height: 10px;
  background: #555a;
}

.range-slider .slider-thumb.min-thumb,
.range-slider .slider-thumb.max-thumb {
  width: 10px;
}
.range-slider .slider-thumb.min-thumb {
  left: -10px;
}

.range-slider .slider-thumb.min-thumb::after,
.range-slider .slider-thumb.max-thumb::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 1px;
  height: 20px;
  background: #222;
}

.range-slider .slider-thumb.min-thumb::after {
  left: 10px;
}

/*---  main menu ---*/

.mainmenu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  min-height: 100px;
  overflow: hidden;
  background-color: #e9ecef;
  border-right: 1px solid #dee2e6;
  padding: 1rem;
  padding-top: 60px; /* space for the menu button */
  transition: all 0.3s; /* animate changes */
}

.menu-button {
  position: fixed;
  top: 25px;
  left: 25px;
  height: 40px;
  width: 40px;
  transition: all 0.3s;
  cursor: pointer;
}

.mainmenu.collapsed {
  width: 0;
  height: 0;
  overflow: hidden;
}

.slider-labels {
  color: #333;
  margin-left: 20px;
}

.color-mode {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.plot-axis-select-box {
  display: block;
  margin-left: 20px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nid,
.type {
  font-size: 0.8em;
  display: inline-block;
  margin-right: 5px;
  letter-spacing: 1px;
  width: auto;
  border-radius: 8px;
  padding: 0px 15px;
  background: #777;
  color: #fff;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding-left: 30px;
  box-shadow: -2px -2px 3px #fff, 1px 1px 3px #0000003d;
}

.type span {
  color: #ddd;
  margin-right: 5px;
  font-weight: bold;
  font-size: 0.8em;
  background: #222;
  border-radius: 8px 0 0 8px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -1px;
  height: 100%;
  min-width: 20px;
  padding-left: 3px;
  padding-right: 1px;
  text-align: center;
}

.info {
  color: #888;
  font-size: 0.65em;
  display: block;
  font-family: monospace;
  margin-top: 5px;
}
