.header {
	margin: 20px;
	margin-bottom: 1em;
	font-size: 1.5em;
}

.mainlist {
	margin: 20px;
	width: 40em;
	padding: 1em;
}

.mainlist li{
	width: 100%;
	margin-top: 0.1em;
	margin-right: 1em;
	list-style-type: none;
	padding:7px;
}


.selectable:hover {
	cursor: pointer;
}

.expandable .expandableContent {
	display: none;
}
.expandable:hover ,  .expandable.selected{
	background-color: #f5f5f5;
}
.expandable:hover .expandableContent,  .expandable.selected .expandableContent {
	display: block;
	margin-top: 20px;
	width: 100%;
}

.expandable:hover h2, .expandable.selected h2 {
	margin-bottom: 0.1em;
	font-weight: bold;
}
.expandable.selected h2 {
	background-color: #ffeaaf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

.expandablecontent li{
	margin-top: 0;
	padding:0px;
}


.expandablecontent ul{
	margin-top: 0.1em;
	margin-left: 1em;
	border-left: 1px solid #ccc;
	padding-left: 1em;
	margin-bottom: 0.3em;
}

.expandablecontent ul h3{
	display: inline;
	font-weight: bold;
}


